.calculatorcontainer {
    text-align: center;
    font-size: 18px;
}

.background {
    background-color: #fafafa;
    padding: 20px;
    border: solid 1px #cbcbcb;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.calculate {
    background-color: #fc0;
    color: #333;
    font-weight: 700;
    border-radius: 8px;
    border: 1px solid #cbcbcb;
    padding: 10px 20px;
    transition: 0.1s;
    text-decoration: none;
    font-size: 18px;
}

.calculate:hover {
    background-color: #666;
    color: #fff;
}

#calculator {
    max-width: 400px;
    margin: 0 auto;
}

#redirect {
    display: inline-block;
}

#fractionResult {
    font-weight: 700;
    padding: 0px 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}



#formula {
    font-size: medium;
    padding: 10px;
    text-align: left;
}

.background input {
    display: inline-block;
    padding: 10px;
    background-color: white;
}

.fractionParts {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.background .fractionInput {
    max-width: 50px;
    font-size: 18px;
}

#operator {
    font-size: larger;
    font-weight: bold;
}

.fractionStack {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.fractionBar {
    border: 1px solid black
}